h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong 250801037- 02]
        p.mb-0 Caracterizar al usuario desde  el enfoque comportamental, según estados de salud mental.




