.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Autoestima:
            | concepto que se tiene del ser mismo, cada persona piensa algo de el o ella misma y ese factor es un indicador personal.
        hr
        p
            strong.mr-2 Autoconcepto:
            | son las creencias o afectos que se tiene del yo propio y se manifiestan constantemente en la conducta.
        hr
        p
            strong.mr-2 Personalidad:
            | es el resultado de la articulación dinámica de los aspectos psicológicos (Intelectuales, afectivos, cognitivos y pulsionales) y biológicos (fisiológicos y morfológicos) característicos de cada persona y que les distinguen de los demás.   