include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Alfonso, Y. (2013). Introducción a la psicología.", "http://datateca.unad.edu.co/contenidos/90016/2013_2/90016_ONLINE/leccin_5_introduccin_a_la_personalidad.html", "http://datateca.unad.edu.co/contenidos/90016/2013_2/90016_ONLINE/leccin_5_ introduccin_a_la_personalidad.html")
        +referenciaItem("Beltrán, P. (2019). Los 16 tipos de personalidad (y sus características). ", "https://medicoplus.com/psicologia/tipos-personalidad")
        +referenciaItem("Bonet, J. (1994). Sé amigo de ti mismo. Manual de automestima. Editorial Sal Terrae Polígono de Raos", "")
        +referenciaItem("Coopersmith S. (1976). “The Antecedents of Self- Esteem”. San Francisco: W. H. Freeman & Company.", "")
        +referenciaItem("De Vega Rodríguez, M. (1984). Introducción a la psicología cognitiva. Alianza editorial.", "")
        +referenciaItem("Lorenzo M. J. (2007). Autoconcepto y autoestima, conocer su construcción. Cieza: Charla- coloquio; 2007.", "")
        +referenciaItem("Pérez, H. (2019). Autoestima, teorías y su relación con el éxito personal.", "http://www.alternativas.me/attachments/article/190/2.%20Autoestima,%20teor%C3%ADas%20y%20su%20relaci%C3%B3n%20con%20el%20%C3%A9xito%20personal.pdf", "http://www.alternativas.me/attachments/article/190/2.%20 Autoestima,%20teor%C3%ADas%20y%20su%20relaci%C3%B3n%20con%20el%20%C3%A9xito%20personal.pdf")
        +referenciaItem("Piaget J. (1985). Seis estudios de Psicología. México: Artemisa.", "")
        +referenciaItem("Sparisci, V (2013). Representación de la autoestima y la personalidad en protagonistas de anuncios audiovisuales de automóviles.", "http://imgbiblio.vaneduc.edu.ar/fulltext/files/TC113919.pdf")          
 


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            